@charset "utf-8";

.header{border-bottom: 1px solid #f5efef;width:1200px;height: 100px;margin:0 auto;}
.logo{float:left;margin-left:30px; }
.logo img{width:150px;height: 100px;}
span{float:left;margin:30px 0 0 0px;}
.login{float: left;margin:25px 0 0 20px;font:18px/2 "";}
.name{width:400px;;height:50px;margin:80px 0 0 -22px;border:none;border-bottom: 1px solid #999;text-indent: 10px;font-size: 14px;}
.word{width:400px;;height:50px;margin:30px 0 0 270px;border:none;border-bottom: 1px solid #999;text-indent: 10px;font-size: 14px;}
.submit{width:400px;height:55px;line-height:55px;background:#3db965;cursor: pointer;color:#fff;display: block;font-size: 16px;text-align: center;margin:40px 0 0 270px;border-radius:5px;}
.remember{display: flex;align-items: center;justify-content: space-between;}
.check{display:flex;align-items: center;justify-content: flex-start;}
.btn{width:14px;height:14px;position: relative;cursor: pointer;margin:15px 0 0 270px;}
.text{margin-top:18px;margin-left:10px;font-size: 14px;}
.link{display: flex;align-items: center;}
.forget{color:#3db965;text-decoration: none;margin:-25px 0 0 530px;font-size: 14px;}
.register{color:#3db965;text-decoration:none;margin-top:-25px;font-size: 14px;margin-left:10px;}
.code{display: flex;align-items: center;justify-content: center;margin:-300px 0 0 500px;}
.title{display: flex;align-items: center;justify-content: center;margin:10px 0 0 500px;font-size: 16px;color:#666;}
.item p{ width:400px; display: block; margin-left:260px; color: red; }