@charset "utf-8";

.header{width:1200px;height: 100px;margin:0 auto;overflow: hidden;}
.logo{float:left;margin-left:30px; margin-top:30px;}
.logo img{width:200px;height: 100px;}
span{float:left;margin:68px 0 0 0px;}
.login{float: left;margin:70px 0 0 20px;}
.shouye{font: 14px/2 "";color: #fff;text-decoration: none;background: blue;display: block;
width: 50px;height: 20px;text-align: center;line-height: 20px;border-radius: 5px;}
.search{margin-top:-40px;margin-right:260px;}
.txt{float:right;width: 400px;height: 36px;line-height: 36px;padding-left: 10px;color:rgb(169, 169, 169);border:none;border:solid 1px #dfdfdf;}
.pointer{float:right;width: 40px;height: 40px;background:url(../images/sou.png) no-repeat center;border: none;border:solid 1px #dfdfdf;cursor: pointer;}
.header-r{float: right;}
.shopping{border: solid 1px #dfdfdf;margin-right:100px;width:150px;height:38px;line-height: 38px;text-align: center;background: url(../images/cat.png) no-repeat 20px;}
.cat{text-decoration: none;color: #000;display:block;font:14px/2 "";line-height:40px;margin-left:30px;}
.bc{margin-left:100px;margin-top:80px;}
.shop-cat{margin:30px 0 20px 100px;width:1240px; height:40px;background:#fafafa;color:#9fa0a0;font-size: 14px;}
.te{padding-left:30px;text-align: left;}
h4{display: inline;margin-left:100px;}
.fm{color:#9fa0a0;text-decoration: none;background: url(images/trash.png) no-repeat 0 0;padding-left:30px;margin-left:30px;}
.calculation{display: block;}
.fr{float:right;}
span{height:20px;font-size: 20px;color:#ff7c44;margin-right: 100px;}
.clear{float: right;margin-top:150px;margin-right:-150px;}
.clear-te1{width:150px;height:40px;cursor: pointer;background: #fafafa;
margin-right:-10px;border:none;border:1px solid #9fa0a0;}
.clear-te2{width:150px;height:40px;cursor: pointer;background: #ff7c44;
border:none;border:1px solid #9fa0a0;}